$primary-color: #a892ee;
$secondary-color: rgb(31, 31, 31);
$dark-purple-color: #510674;
$bitter-purple-color: #220131;
$light-purple-color: #ddb3f8;
$button-purple-hover-color: #8c24bd;
$border-color: #ececec;
$gray-background-color: #4b4b4b;
$date-backgroun-color: #2a2a2a;
$expense-background-color: rgb(31, 31, 31);
$white: #fff;
$header-black-color: #3a3a3a;
